.signup-mem
  %header.signup-memHeader
    %h1
      = link_to root_path do
        = image_tag 'logo.png'
    %nav.signup-memHeader__progress-bar
      %ol.clearfix
        %li.signup-memHeader__progress-bar__active
          会員情報
          .signup-memHeader__progress-bar__active--point 
        %li.signup-memHeader__progress-bar__none
          電話番号認証
          .signup-memHeader__progress-bar__none__status
        %li.signup-memHeader__progress-bar__none
          完了
          .signup-memHeader__progress-bar__none__status
  %main.mem-main
    %section.mem-main__container
      %h2.mem-main__container.registration 会員情報入力
      %form#register-form.mem-main__container__inner{action: "https://", method: "POST", novalidate: "#"}
        %input{name:  "", type: "hidden", value:  "#"}/
        .mem-main__container__inner__content
          .mem-main__container__inner__content__form-group
            %label.mem-main__container__inner__content__form-group__label{for: "nickname"} ニックネーム
            %span.mem-main__container__inner__content__form-group__require 必須
            %input.mem-main__container__inner__content__form-group__input{name: "nickname", placeholder:  "例) フリマ太郎", type:  "text", value:  ""}/
          .mem-main__container__inner__content__form-group
            %label.mem-main__container__inner__content__form-group__label{for: "email"} メールアドレス
            %span.mem-main__container__inner__content__form-group__require 必須
            %input.mem-main__container__inner__content__form-group__input{name: "email", placeholder:  "PC・携帯どちらでも可", type:  "email", value:  ""}/
          %input{name:  "login_type", type: "hidden", value: ""}/
          .mem-main__container__inner__content__form-group
            %label.mem-main__container__inner__content__form-group__label{for: "password"} パスワード
            %span.mem-main__container__inner__content__form-group__require 必須
            %input.mem-main__container__inner__content__form-group__input{:name => "password", :placeholder => "7文字以上の半角英数字", :type => "password"}/
            %p.mem-main__container__inner__content__form-group__info-txt
              ※ 英字と数字の両方を含めて設定してください
            .mem-main__container__inner__content__form-group__password-toggle
              .mem-main__container__inner__content__form-group__password-toggle__checkbox
                %input#reveal_password{type: "checkbox"}/
                %i.icon-check
                %label.mem-main__container__inner__content__form-group__password-toggle__checkbox__label{for: "reveal_password"} パスワードを表示する
              .mem-main__container__inner__content__form-group__password-container
                %span.mem-main__container__inner__content__form-group__password-container-revealed
          .mem-main__container__inner__content__form-group
            %h3.mem-main__container__inner__content__form-group__sub-head 本人確認
            %p.mem-main__container__inner__content__form-group__sub-head__txt
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .mem-main__container__inner__content__form-group
            %div
              %label.mem-main__container__inner__content__form-group__label お名前(全角)
              %span.mem-main__container__inner__content__form-group__require 必須
            %input.mem-main__container__inner__content__form-group__input-half{name: "family_name_kanji", placeholder:  "例) 山田", type:  "text", value:  ""}/
            %input.mem-main__container__inner__content__form-group__input-half{:name => "first_name_kanji", :placeholder => "例) 彩", :type => "text", :value => ""}/
          .mem-main__container__inner__content__form-group
            %div
              %label.mem-main__container__inner__content__form-group__label{for: "family_name_kanji"} お名前カナ(全角)
              %span.mem-main__container__inner__content__form-group__require 必須
            %input.mem-main__container__inner__content__form-group__input-half{name: "family_name_kana", placeholder: "例) ヤマダ", type: "text", value: ""}/
            %input.mem-main__container__inner__content__form-group__input-half{name: "first_name_kana", placeholder:  "例) アヤ", type: "text", value: ""}/
          .mem-main__container__inner__content__form-group
            %label.mem-main__container__inner__content__form-group__label{for: "birthday"} 生年月日
            %span.mem-main__container__inner__content__form-group__require 必須
            %br/
            .mem-main__container__inner__content__form-group__birthday-select
              .mem-main__container__inner__content__form-group__birthday-select__wrap
                %i.fas.fa-angle-down
                %select.mem-main__container__inner__content__form-group__birthday-select__wrap__select{:name => "year"}
                  %option{value: ""} --
              %span 年
              .mem-main__container__inner__content__form-group__birthday-select__wrap
                %i.fas.fa-angle-down
                %select.mem-main__container__inner__content__form-group__birthday-select__wrap__select{:name => "month"}
                  %option{value: ""} --
              %span 月
              .mem-main__container__inner__content__form-group__birthday-select__wrap
                %i.fas.fa-angle-down
                %select.mem-main__container__inner__content__form-group__birthday-select__wrap__select{:name => "day"}
                  %option{value: ""} --
              %span 日
            %input{name: "birthday", type: "hidden", value: ""}/
            .clearfix
          %p.mem-main__container__inner__content__info-txt
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .mem-main__container__inner__content
          %input{name:  "after_save_callback", type: "hidden", value:  ""}/
          %input#g-recaptcha-v3{name: "g_recaptcha_response_v3", type: "hidden"}/
          %input#recaptcha-version{name: "recaptcha_version", type: "hidden", value: "3"}/
          %input#g-recaptcha-v3-site-key{type: "hidden", value: "6LelCcAUAAAAAGYBvpuT3hj7TOnrIElDM5ZsTuAy"}/
          .mem-main__container__inner__content__form-group
            %p.mem-main__container__inner__content__form-group_txt-center
              「次へ進む」のボタンを押すことにより、
              = link_to "利用規約", root_path, class: 'post' 
              に同意したものとみなします
          %button.mem-main__container__inner__content__btn-blue{type: "submit"} 次へ進む
          .mem-main__container__inner__content__txt-right
            %p
              = link_to root_path do
                本人情報の登録について
                %i.fas.fa-angle-right
          .mem-main__container__inner__content__recaptcha-term
            %p
              This site is protected by reCAPTCHA and the Google
              = link_to "Privacy Policy", root_path, class: 'post' 
              and
              = link_to "Terms of Service", root_path, class: 'post'
              apply.
-# 仮置き
= link_to "3へ", sms_signup_index_path, class: 'post'
