.signup-sms
  %header.signup-smsHeader
    %h1
      = link_to root_path do
        = image_tag 'logo.png'
    %nav.signup-smsHeader__progress-bar
      %ol.clearfix
        %li.signup-smsHeader__progress-bar__through
          会員情報
          .signup-smsHeader__progress-bar__through--point
        %li.signup-smsHeader__progress-bar__active
          電話番号認証
          .signup-smsHeader__progress-bar__active--point
        %li.signup-smsHeader__progress-bar__none
          完了
          .signup-smsHeader__progress-bar__none__status
  %main.sms-main
    %section.sms-main__container
      %h2.sms-main__container.registration 電話番号の確認
      = form_for @user, url: done_signup_index_path, method: :get, html: {class: 'sms-main__container__inner', id: "signup-form"} do |f|
        .sms-main__container__inner__content
          .sms-main__container__inner__content__form-group
            = f.label :phone_number, "携帯電話の番号", class: "sms-main__container__inner__content__form-group__label"
            = f.text_field :phone_number, placeholder: '携帯電話の番号を入力', class:'sms-main__container__inner__content__form-group__input',id:"phonenumber"
          %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          = f.submit :"SMSを送信する", class: "sms-main__container__inner__content__btn-blue"
          %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
          .sms-main__container__inner__content__txt-right
            = link_to root_path do
              電話番号が必要な理由
              %i.fas.fa-angle-right
=render "items/singlefooter"
