.header 
  .header__inner
    .header__inner__main
      .icon
        = link_to image_tag(src= "logo.png", class: "image", size: "140x40"), '#'
      .searchbox
        %form{"accept-charset" => "UTF-8", :action => "#", :method => "get"}
          %input{name: "utf8", type: "hidden", value: "✓"}/
          %input.searchbox__input{name: "key", placeholder: "キーワードから探す"}
          %button{type: "submit"}
            .searchbox__icon
              = image_tag "icon-search1.png", size: "19x19"
              %input{name: "authenticity_token", type: "hidden", value: ""}
    .header__inner__nav
      .list-left
        .list-left__item-first
          %a.category-btn{href: "#"} カテゴリー
        .list-left__item-second
          %a.brand-btn{href: "#"} ブランド
      .list-right
        .list-right__item
          %a.login-btn{href: "#"} ログイン
          %a.new-member-btn{href: "#"} 新規会員登録

%aside.banner
  .banner__inner
    %h2.banner__inner__title
      だれでもかんたん、人生を変える変えるフリマアプリ
    %p.banner__inner__content
      今すぐ無料ダウンロード！
    .banner__inner__icon
      %a.link-icon{href: "https://apps.apple.com/jp/app/music-memos/id1036437162?mt=8"}
        = image_tag "https://linkmaker.itunes.apple.com/assets/shared/badges/ja-jp/appstore-lrg.svg", class: "appstore-btn", size: "180x55"
      %a.link-icon{href: "https://play.google.com/store/apps?pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"}
        = image_tag "https://play.google.com/intl/ja/badges/static/images/badges/ja_badge_web_generic.png", class: "google-btn", size: "206x82"

.footer
  %ul.footer__contents
    %li.footer__contents__content
      %h2.footer__contents__content__head
        FURIMAについて
      %ul
        %li
          %a{href: "#"} 会社概要（運営会社）
        %li
          %a{href: "#"} プライバシーポリシー
        %li
          %a{href: "#"} FURIMA利用規約
        %li
          %a{href: "#"} ポイントに関する特約
    %li.footer__contents__content
      %h2.footer__contents__content__head
        FURIMAを見る
      %ul
        %li
          %a{href: "#"} カテゴリー一覧
        %li
          %a{href: "#"} ブランド一覧
    %li.footer__contents__content
      %h2.footer__contents__content__head
        ヘルプ&ガイド
      %ul
        %li
          %a{href: "#"} FURIMAガイド
        %li
          %a{href: "#"} FURIMAロゴ利用ガイドライン
        %li
          %a{href: "#"} お知らせ
  .footer__logo
    = link_to image_tag(src= "logo-white.png", size: "160x43"), '#'
  %p©️ FURIMA