%header.main__header
  %h1.maim__header__image
  %img{}
  
.main
  %section.main-section
    %h2.main-section__verification 購入内容の確認
    %section.main-section__item
      .main-section__item__buy
        .main-section__item__buy__box
          %h3.main-section__item__buy__image
            %img.main-section__item__buy__image__up{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"}/
          .main-section__item__detail
            %p.main-section__item__detail__name 
              商品入るよ
            %p.main-section__item__detail__price
              %span お金が入るよ
              %span (税込)送料なし
      
    %section.buy-section__item
      .buy-section__item__content
        .buy-section__item__content__form
          %ul.buy-section__item__content__form__price
            %li.buy-section__item__content__form__price__cell
              .buy-section__item__content__form__price__label 
                支払い金額
              .buy-section__item__content__form__price__money
                %span ￥200
          %section.buy-content__pay__method
            %h3 支払い方法
            .buy-content__pay__method__box
              = link_to tweets_path, class: "buy-content__pay__method__box__resist" do
                = icon('fas', 'fa-plus-circle', class: "fal fa-plus-circle")
                %p.buy-content__pay__method__box__resist__to
                  登録してください
          
          %section.buy-content__address
            %h3　配送先
            .buy-content__address__box
              = link_to tweets_path, class: "buy-content__address__resist" do
                = icon('fas', 'fa-plus-circle', class: "fal fa-plus-circle")
                %p.buy-content__address__resist__to
                  登録してください

        %section.buy-content__btn
          %button.buy-content__btn__buy
            = submit_tag "購入する"