= render "items/header"
.logout.clearfix
  .logout__main
    .logout__main__box
      = link_to "ログアウト", destroy_user_session_path, method: :delete
  = render "side"
= render "items/cameraBtn"
= render "items/banner"
= render "items/footer"