= render "tweets/header"
.logout.clearfix
  .logout__main
    .logout__main__box
      = link_to "ログアウト","#"
  = render "side"
= render "tweets/cameraBtn"
= render "tweets/banner"
= render "tweets/footer"