= render "items/buy-header"
  
.main
  %section.main-section
    %h2.main-section__verification 購入内容の確認
    %section.main-section__item
      .main-section__item__buy
        .main-section__item__buy__box
          %h3.main-section__item__buy__image
            = image_tag @item.images[0].image.url
          .main-section__item__detail
            %p.main-section__item__detail__name 
              = @item.name
            %p.main-section__item__detail__price
              %span 
                = @item.price
                円
              %span.main-section__item__detail__tax 
                = @item.shipping_method
    %section.buy-section__price
      .buy-section__price__content
        .buy-section__price__content__form
          %ul.buy-section__price__content__form__list
            %li.buy-section__price__content__form__list__cell
              .buy-section__price__content__form__list__label 
                支払い金額
              .buy-section__price__content__form__list__money
                %span
                  ¥ 
                  = @item.price
          %ul.buy-section__point
            %li.buy-section__point__check
              .buy-section__point__check__box
                %i.fas.fa-check-square
                %label.buy-section__point__check__box__label
                  ポイントを使用（所持ポイント:P0)
          
          //クレカ登録条件分岐
          %section.buy-content__pay__method
            %h3 支払い方法
            - if @pay.blank?
              .buy-content__pay__method__box
                .clearfix
                = link_to new_pay_path, class: "buy-content__pay__method__box__register" do
                  = icon('fas', 'fa-plus-circle', class: "fal fa-plus-circle")
                  %p.buy-content__pay__method__box__register__to
                    登録してください
            - else
              .card__detail__number
                = "**** **** ****" +@default_card_information.last4
                = form_tag(delete_pays_path, method: :post, id: 'charge-form',class: "card__delete",name: "inputForm") do
                  %input{ type: "hidden",name: "card_id", value:""}
                  %button.card__delete__button 削除する
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year  = @default_card_information.exp_year.to_s.slice(2,3)
              .card__expiration
                .card__expiration__date 
                  有効期限
                  = exp_month + "/" + exp_year
            
          //住所登録条件分岐
          %section.buy-content__address
            %h3 配送先
            - if @address.blank?
              .buy-content__address__box
                = link_to  address_users_url, class: "buy-content__address__register" do
                  = icon('fas', 'fa-plus-circle', class: "fal fa-plus-circle")
                  %p.buy-content__address__register__to
                    登録してください
            - else
              .address__register
                = form_tag(delete_pays_path, method: :post, id: 'charge-form',class: "card__delete",name: "inputForm") do
                  %input{ type: "hidden",name: "card_id", value:""}
                  %button.card__delete__button 削除する
                .address__register__after
                  〒
                  = current_user.address.postal_code
                  %br
                  = current_user.address.prefecture.name
                  = current_user.address.municipalitie
                  = current_user.address.street
                  = current_user.address.building
                  .address__register__after__name
                    = current_user.family_name
                    = current_user.last_name

        //クレカとアドレスがない時は購入不可
        - if @pay && @address.blank?
          %section.buy-content__btn
            %button.buy-content__btn__nobuy 購入する
        -else
          = link_to pay_purchase_index_path(id:@item.id) do
            %section.buy-content__btn
              %button.buy-content__btn__buy 購入する
        

=render "items/singlefooter"      
