.header 
  .header__inner
    .header__inner__main
      .icon
        = link_to image_tag(src= "logo.png", class: "image", size: "140x40"), root_path
      .searchbox
        = search_form_for(@q, url:detailed_search_items_path) do |f|
          = f.search_field :name_cont, placeholder: 'キーワードから探す', class: "search"
          = button_tag type: 'submit', class: "searchbox__icon" do
            = image_tag(src= "icon-search1.png", size: "19x19",class: "button")
          
        .item-search-result
    .header__inner__nav
      .list-left
        .list-left__item-first
          = link_to 'カテゴリー', "#", class: "category-btn"
          .category_box
            .parents_list
              - @parents.each do |parent|
                = link_to "#{parent.name}", "#" , class: "category-parent", id: "#{parent.id}"
            .category_list_children
            .grand_children_list
        .list-left__item-second
          = link_to "ブランド", "#", class:"brand-btn"
      .list-right
        .list-right__item
        - if user_signed_in?
          = link_to "マイページ", mypage_users_path, class: "mypage-btn"
        - else
          = link_to "ログイン", new_user_session_path, class: "login-btn"
          = link_to "新規会員登録", signup_index_path, class: "new-member-btn"