= render "header"

.detailed_search
  .detailed_search__side
    = search_form_for(@q,url:detailed_search_items_path) do |f|
      .detailed_search__side__sort
        = icon('fas','angle-down')
        = f.select( :sorts, {"並び替え": "id desc", "安い順": "price ask", "高い順": "price desc"},{onchange: "this.form.submit()"})
        
      .detailed_search__form
        .detailed_search__form__title
          %h3 詳細検索
        .detailed_search__form__group
          .detailed_search__form__group__label
            = icon('fas', 'search-plus', class: "search-icon")
            %p キーワードを追加する
          = f.search_field :name_cont, placeholder: "キーワード検索"
        .detailed_search__form__group
          .detailed_search__form__group__label
            = icon('fas', 'search-plus', class: "search-icon")
            %p 価格
          .detailed_search__form__group__price
            = f.search_field :price_gteq, placeholder: "¥ Min"
            %p 〜
            = f.search_field :price_lteq, placeholder: "¥ Max"
        .detailed_search__form__btns
          .detailed_search__btn__grey
            = link_to "クリア", detailed_search_items_path, type:"button"
          = f.submit "完了"

  .detailed_search__main
    %p
      検索結果
      .detailed_search__main__grid
        - @items.each do |item|
          %ul.grid_box
            %li.image
              = image_tag item.images[0].image.url
            %li.name
              = item.name
            %li.price
              = number_to_currency(item.price, unit: "¥", precision: 0)
