%nav.breadCrumbs
  %ul
    %li
      = link_to "FRIMA", "#" 
    %li
      %i.fa.fa-angle-right
    %li
      = link_to "メンズ", "#" 
    %li
      %i.fa.fa-angle-right
    %li
      = link_to "ジャケット/アウター", "#" 
    %li
      %i.fa.fa-angle-right
    %li
      = link_to "ノーカラージャケット", "#" 
    %li
      %i.fa.fa-angle-right
    %li
      %p product2
.main
  .showmain
    .contentLeftqq
      .contentRight
        .topContent
          .item-Box
            %h2.item-Box__name product2
            .item-Box__body
              %ul
                %table.item-teble
                  %tr.main-item-imag
                    %td{align:"center", colspan:"4"}
                      = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", width:"560",name:"BigImage"
                  %tr
                    %td
                      = link_to "javascript:void(0)", onmouseover:"changeimage( 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png' )" do
                        = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", size: "147x87"
                    %td
                      = link_to "javascript:void(0)", onmouseover:"changeimage( 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/11/a005.png' )" do
                        = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/11/a005.png", size: "147x87"
                    %td
                      = link_to "javascript:void(0)", onmouseover:"changeimage( 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/12/a006.png' )" do
                        = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/12/a006.png", size: "147x87"
            .item-Box__price
              %span
                ¥20000
              .item-Box__price-detail
                %span
                  (税込)
                %span
                  送料込み
            .itemDetail product2
            .table
              %table
                %tbody
                  %tr
                    %th 出品者
                    %td hoge
                  %tr
                    %th カテゴリー
                    %td
                      = link_to "メンズ","#" 
                      %br/
                      = link_to "ジャケット/アウター", "#" 
                      %br/
                      = link_to "ノーカラージャケット", "#" 
                  %tr
                    %th ブランド
                    %td
                  %tr
                    %th 商品のサイズ
                    %td
                  %tr
                    %th 商品の状態
                    %td 新品/未使用
                  %tr
                    %th 配送料の負担
                    %td 着払い（購入者負担）
                  %tr
                    %th 発送元の地域
                    %td
                      = link_to "青森県", "#"
                  %tr
                    %th 発送日の目安
                    %td 1-2日で発送
            .optionalArea
              %ul
                %li#likeBtn.optionalBtn.likeBtn
                  %i.fa.fa-star
                  お気に入り 0
              %ul.optional
                %li.optionalBtn
                  %a{href:"#"}
                    %i.fa.fa-flag
                    不適切な商品の通報
            %a.item-buy-btn{href:item_path}購入画面に進む
          .commentBox
            %ul.commentContents
            %form#new_comment.new_comment{"accept-charset":"UTF-8", action:"#", method:"post"}
              %input{name:"utf8", type:"hidden", value:"✓"}/
              %input{name:"authenticity_token", type:"hidden", value:"T8vpqdpS7TX8SuZ7mZbU6ev2BYEaOCJpgDk7J5BfvGywvqAdX5qOhLXc8WbCV3VXw0LWy7hbr9Hx5eJUG4fGYQ=="}/
              %textarea#comment_body{name:"comment[body]", required:"required"}
              %p.noticeMsg
                相手のことを考え丁寧なコメントを心がけましょう。
                %br/
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %br/
              %button.commentBtn{name:"button", type:"submit"}
                %i.fa.fa-comment
                コメントする
        %ul.links
          %li
            = link_to "#" do
              %i.fa.fa-angle-left
              %span
              前の商品
          %li
            = link_to "#" do
              %span 後ろの商品
              %i.fa.fa-angle-right
        .relatedItems
          = link_to "メンズをもっと見る", "#"
          .productLists