=render "header"
.main
  .mainSection
    .mainSection__content
      %h2.mainSection__content__subttl
        %br/
        人生を変えるフリマアプリ
      %p.mainSection__content__txt
        FURIMAはだれでもかんたんに出品・購入できる
        %br/
        フリマアプリです
      .mainSection__content__btn
        = link_to "#", class:"mainSection__content__btn__appBtn" do
          = image_tag(src= "app.svg", class: "APP", size: "180x53")
        = link_to "#", class:"mainSection__content__btn__googleBtn" do
          = image_tag(src= "goo.svg", class: "GOO", size: "180x53")
  .reason
    %h2.reason__subttl
      FURIMAが選ばれる3つの理由
    %ul.reason__lists
      %li.reason__lists__list
        .reason__lists__list__photo
          %span.reason__lists__list__photo__num 1
          = image_tag(src= "pict-reason-01-.jpg", class: "reason1", size: "306x306")
        %h3.reason__lists__list__txt
          %span.reason__lists__list__txt__head 3分
          ですぐに出品
        %p.reason__lists__list__describe
          スマホで入力するだけで簡単に出品できる！
      %li.reason__lists__list
        .reason__lists__list__photo
          %span.reason__lists__list__photo__num 2
          = image_tag(src= "pict-reason-02-.jpg", class: "reason2", size: "306x306")
        %h3.reason__lists__list__txt
          %span.reason__lists__list__txt__head シンプル
          で使いやすい
        %p.reason__lists__list__describe
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.reason__lists__listEnd
        .reason__lists__listEnd__photo
          %span.reason__lists__listEnd__photo__num 3
          = image_tag(src= "pict-reason-03-.jpg", class: "reason3", size: "306x306")
        %h3.reason__lists__listEnd__txt
          手数料
          %span.reason__lists__listEnd__txt__head 業界最安
        %p.reason__lists__listEnd__discribe
          最大3%でお得に出品&購入！
  .middleSection
    .middleSection__inside
      %h2.middleSection__inside__subttl 会員数日本一位
      %p.middleSection__inside__txt
        FURIMAは、フリマアプリで最も人気。
        %br/
        出品・購入回数も業界最多です！
        %br/
        ほしかったあの商品に出会えるかもしれません。
      .middleSection__inside__btn
        = link_to "#", class:"middleSection__inside__btn__appBtn" do
          = image_tag(src= "app.svg", class: "APP", size: "180x53")
        = link_to "#", class:"middleSection__inside__btn__googleBtn" do
          = image_tag(src= "goo.svg", class: "GOO", size: "180x53")
  .characteristic
    %h2.characteristic__subttl FURIMAの特徴
    .characteristic__lists
      .characteristic__lists__list
        .characteristic__lists__list__img
          = image_tag(src= "characteristic-img1.png", class: "chara1", size: "220x338")
        %h3.characteristic__lists__list__ttl 簡単に売り買いできる
        %p.characteristic__lists__list__describe
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .characteristic__lists__list
        .characteristic__lists__list__img
          = image_tag(src= "characteristic-img2.png", class: "chara2", size: "220x338")
        %h3.characteristic__lists__list__ttl 売上金は即日振込みに対応
        %p.characteristic__lists__list__describe
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .characteristic__lists__list
        .characteristic__lists__list__img
          = image_tag(src= "characteristic-img3.png", class: "chara3", size: "220x338")
        %h3.characteristic__lists__list__ttl 様々な支払いに対応
        %p.characteristic__lists__list__describe
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .pickupCategory
    %h2.pickupCategory__ttl ピックアップカテゴリー
    .pickupCategory__box
      .pickupCategory__box__head
        = link_to "#", class:"pickupCategory__box__head__color" do
          %h3.pickupCategory__box__head__color__subttl 新規投稿商品 
      .pickupCategory__box__items
        .pickupCategory__box__items__item
        - @images.each do |item|
          = link_to item_path(id: item.item_id) ,class: "pickupCategory__box__items__item__link" do
            .pickupCategory__box__items__item__link__img
              = image_tag item.image, class: "pickupCategory__box__items__item__link__img__up"
            .pickupCategory__box__items__item__link__body
              %h3.pickupCategory__box__items__item__link__body__name
                = item.item.name
              .pickupCategory__box__items__item__link__body__name__show
                %ul.pickupCategory__box__items__item__link__body__name__show__list
                  = item.item.price
                  円
                  %li
                    %i.fa.fa-star.likeIcon
                    0
                %p.pickupCategory__box__items__item__link__body__name__show__tax (税込)
                -if item.item.buyer_id.present?
                  .items-box_photo__sold
                    .items-box_photo__sold__inner
                      SOLD
    .pickupBrand
      %h2.pickupBrand__ttl ピックアップブランド
      .pickupBrand__box
      .pickupBrand__box__head
        = link_to "#", class:"pickupBrand__box__head__color" do
          %h3.pickupBrand__box__head__color__subttl 新規投稿商品 
      .pickupBrand__box__items
        .pickupBrand__box__items__item
        - @images.each do |item|
          = link_to item_path(id: item.item_id) ,class: "pickupBrand__box__items__item__link" do
            .pickupBrand__box__items__item__link__img
              = image_tag item.image, class: "pickupBrand__box__items__item__link__img__up"
            .pickupBrand__box__items__item__link__body
              %h3.pickupBrand__box__items__item__link__body__name
                = item.item.name
              .pickupBrand__box__items__item__link__body__name__show
                %ul.pickupBrand__box__items__item__link__body__name__show__list
                  = item.item.price
                  円
                  %li
                    %i.fa.fa-star.likeIcon
                    0
                %p.pickupBrand__box__items__item__link__body__name__show__tax (税込)
                -if item.item.buyer_id.present?
                  .items-box_photo__sold
                    .items-box_photo__sold__inner
                      SOLD   
  = render partial:  "cameraBtn"
=render "banner"
=render "footer"
