= render partial:  "buy-header"
  
.main
  %section.main-section
    %h2.main-section__verification 購入内容の確認

    %section.main-section__item
      .main-section__item__buy
        .main-section__item__buy__box
          %h3.main-section__item__buy__image
            %img.main-section__item__buy__image__up{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"}/
          .main-section__item__detail
            %p.main-section__item__detail__name 
              商品入るよ
            %p.main-section__item__detail__price
              %span ¥200
              %span.main-section__item__detail__tax (税込)送料なし

    %section.buy-section__price
      .buy-section__price__content
        .buy-section__price__content__form
          %ul.buy-section__price__content__form__list
            %li.buy-section__price__content__form__list__cell
              .buy-section__price__content__form__list__label 
                支払い金額
              .buy-section__price__content__form__list__money
                %span ￥200
          %ul.buy-section__point
            %li.buy-section__point__check
              .buy-section__point__check__box
                %i.fas.fa-check-square
                %label.buy-section__point__check__box__label
                  ポイントを使用（所持ポイント:P0)

          %section.buy-content__pay__method
            %h3 支払い方法
            .buy-content__pay__method__box
              = link_to new_pay_path, class: "buy-content__pay__method__box__register" do
                = icon('fas', 'fa-plus-circle', class: "fal fa-plus-circle")
                %p.buy-content__pay__method__box__register__to
                  登録してください
          
          %section.buy-content__address
            %h3　配送先
            .buy-content__address__box
              = link_to items_path, class: "buy-content__address__register" do
                = icon('fas', 'fa-plus-circle', class: "fal fa-plus-circle")
                %p.buy-content__address__register__to
                  登録してください

        = form_tag(controller: :purchase, action: :index, method: :get) do
          %section.buy-content__btn
            %button.buy-content__btn__buy 購入する
            