= render partial:  "header"

%nav.breadCrumbs
  %ul
    %li
      = link_to "FRIMA", "#" 
    %li
      %i.fa.fa-angle-right
    %li
      = link_to "メンズ", "#" 
    %li
      %i.fa.fa-angle-right
    %li
      = link_to "ジャケット/アウター", "#" 
    %li
      %i.fa.fa-angle-right
    %li
      = link_to "ノーカラージャケット", "#" 
    %li
      %i.fa.fa-angle-right
    %li
      %p product2

- if flash[:notice]
  %p.alert= flash[:notice]

.main
  .showmain
    .contentLeftqq
      .contentRight
        .topContent
          .item-Box
            %h2.item-Box__name 
              =@item.name
            .item-Box__body
              %ul
                %table.item-teble
                  %tr.main-item-imag
                    %td{align:"center", colspan:"4"}
                      = image_tag @image.image, width:"560",name:"BigImage"
                      -if @item.buyer_id.present?
                        .items-box_photo__soldout
                          .items-box_photo__soldout__inner
                            SOLD
                  %tr
                    %td
                      = link_to "javascript:void(0)", onmouseover:"changeimage(gon.image.image)" do
                        = image_tag @image.image,size: "147x87"
                      = link_to "javascript:void(0)", onmouseover:"changeimage(gon.image.image)" do
                        = image_tag @image.image,size: "147x87"
                    %td
                      = link_to "javascript:void(0)", onmouseover:"changeimage(gon.image.image)" do
                        = image_tag @image.image,size: "147x87"
            .item-Box__price
              %span= @item.price
              .item-Box__price-detail
                %span
                  (税込)
                %span
                  送料込み
            .itemDetail= @item.name
            .table
              %table
                %tbody
                  %tr
                    %th 出品者
                    %td= link_to @user.nickname,item_path(@user)
                  %tr
                    %th カテゴリー
                    %td
                      = link_to "メンズ","#" 
                      %br/
                      = link_to "ジャケット/アウター", "#" 
                      %br/
                      = link_to "ノーカラージャケット", "#" 
                  %tr
                    %th ブランド
                    %td
                  %tr
                    %th 商品のサイズ
                    //%td= @item.size

                  %tr
                    %th 商品の状態
                    %td= @item.status
                  %tr
                    %th 配送料の負担

                    //%td= @item.shipping_charges
                  %tr
                    %th 発送元の地域
                    //%td= @item.region

                  %tr
                    %th 発送日の目安
                    %td= @item.shopping_date
            .optionalArea
              = render partial:"items/favoriteBtn"
              %ul
                - if user_signed_in? && current_user.id == @item.user_id 
                  = link_to("編集",(item_path(@item.id)),class:"item-edit-btn")
                  = link_to("削除",item_path(@item.id),method: :delete,class:"item-delete-btn")
                  -# 非出品者には購入ボタンが表示される。
                - elsif @item.buyer_id.present?
                  %section.buy-content__btn
                    %button.buy-content__btn__nobuy 売り切れ
                - else
                  = link_to("購入",buy_purchase_index_path(id:@item.id),class:"item-buy-btn")

            %form.item-Description
              %textarea= @item.description
        - if user_signed_in?
          .commentBox
            %ul.commentContents
            = form_tag(item_comments_path(@item.id), method: :post) do
              %textarea{cols:"30",name:"text",placeholder:"コメントする",rows:"2"}
              %input{type:"submit",value:"コメント",class:"commentBtn"}
              %p.noticeMsg
                相手のことを考え丁寧なコメントを心がけましょう。
                %br/
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %br/
            %h4 ＜コメント一覧＞
            .comments
              - if @comments
                - @comments.each do |comment|
                  %p
                    %strong
                      = link_to comment.user.nickname, "#"
                      ：
                    = comment.text
        %ul.links
          %li
            = link_to "#" do
              %i.fa.fa-angle-left
              %span
              前の商品
          %li
            = link_to "#" do
              %span 後ろの商品
              %i.fa.fa-angle-right
        .relatedItems
          = link_to "メンズをもっと見る", "#"
          .productLists
  = render partial:  "cameraBtn"
=render "items/singlefooter"
                